* {
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(0, 0, 255, 0.1);
}

.center{
  text-align: center;
}

img {
  height: auto;
  max-width: 96%
}

.container, .row {
  width: 100%;
}

.container {
  padding: 0 10px;
}

.col-1 {
  padding: 10px;
  display: inline-block;
  width: 45%;
}

.col-2 {
  padding: 10px;
  display: inline-block;
  width: 20%;
}

@media screen and (max-width: 992px) {
  .row .col-1 {
    <!--same as > 992px-->
  }
}

@media screen and (max-width: 768px) {
  .row {
    width: 100%;
    padding: 0;
  }
  .col-1:not(:last-child) {
    display: block;
  }
  .col-1:first-child {
    width: 48%;
    margin: auto;
  }
  .col-1:last-child {
    margin-top: 12px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .row .col-1 {
    display: block;
    margin: 1em auto;
    width: 100%;
  }
}
